{% extends "base.html" %}

{% block center %}
<div class="card mb-3">
  <img src="/{{ room.img_url }}" class="card-img-top" alt="image">
  <div class="card-body">
    <h5 class="card-title">Номер туру: <em>{{ room.number }}</em></h5>
    <p class="card-text"><em>Поверх:</em>{{ room.floor }}|<em>Тип кімнати:</em>{{ room.type }}|<em>Площа:</em>{{ room.squire }}</p>
    <p class="card-text"><small class="text-body-secondary">Зарезервовано: {% if room.reserved %}Так{% else %}Ні{% endif %}</small></p>
    <div>
        <a href="{{ url_for('reserve', room_id=room.id) }}" class="btn btn-success">Забронювати</a>
        <a href="{{ url_for('del_room' , room_id=room.id) }}" class="btn btn-danger">Видалити тур</a>
        <a href="{{ url_for('edit_room', room_id=room.id) }}" class="btn btn-primary">Редагувати тур</a>
    </div>
  </div>
</div>
{% endblock center %}